.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.brand {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-link {
    color: #E5E5E5;
    transition: all ease 0.5s;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.active-link {
    color: #BFBFBF;
    background-color: #e57373;
    border-bottom: 1px solid #7F7F7F;
}
